#content{
    display: flex;
    flex-direction: column;
}

#dane1{
    display: flex;
}

#dane1 div{
    width: 50%;
}

#dane2{
    padding: 30px 0;
    margin-top: 30px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #9c7140;
}

.bigTxt{
    color: #fff;
    font-family: Roboto;
    font-size: 36px;
    text-align: center;
    margin: 20px 0;
    font-weight: 600;
}

.txt{
    margin-top: 5px;
    color: #fff;
    font-family: Roboto;
    font-size: 20px;
    text-align: center;
}

#formTxt{
    font-size: 24px;
    font-family: Roboto;
    color: white;
    font-weight: 600;
    margin: 0 20px 30px
}

.formWrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.input{
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 0;
    transition: .2s;
    align-self: center;
    max-width: 100%;
    width: 90%;
    border: 1px solid gray;
    -webkit-appearance: none;
    -webkit-box-shadow: 2px 2px 2px #000;
    box-shadow: 2px 2px 2px #000;
}

.input:focus{
    -webkit-appearance: none;
    -webkit-box-shadow: 0 0 4px 3px #000;
    box-shadow: 0 0 4px 3px #000;
}

.label{
    color: white;
    font-family: Roboto;
    font-weight: 600;
    font-size: 20px;
}

#txtArea{
    margin-top: 10px;
    max-width: 100%;
    align-self: center;
    width: 90%;
    border: 1px solid gray;
    border-radius: 5px;
    transition: .2s box-shadow;
    padding: 5px;
    font-family: Roboto;
    color: #000;
    font-weight: 600;
    height: 200px;
    resize: vertical;
    -webkit-appearance: none;
    -webkit-box-shadow: 2px 2px 2px #000;
    box-shadow: 2px 2px 2px #000;
}
#txtArea:focus{
    -webkit-appearance: none;
    -webkit-box-shadow: 0 0 4px 3px #000;
    box-shadow: 0 0 4px 3px #000;
}

.btn{
    font-weight: 600;
    color: black;
    padding: 10px;
    font-family: Roboto;
    background-color: white;
    border-radius: 5px;
    transition: .2s;
    border: 0;
    margin: 0 15px 0 15px;
    -webkit-appearance: none;
    -webkit-box-shadow: 2px 2px 2px black;
    box-shadow: 2px 2px 2px black;
}
.btn:hover{
    background-color: black;
    color: white;
}

@media screen and (max-width: 768px){
    #dane1{
        flex-direction: column;
        align-items: center;
    }
    #dane1 div{
        width: 100%;
    }
    #content{
        padding: 0;
    }
}


