@font-face{
	font-family: Roboto;
	src: url('../fonts/roboto/Roboto-Thin.ttf');
}
@font-face{
	font-family: coco;
	src: url('../fonts/cocogoose/CocogooseProLight-trial.ttf');
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	position: relative;
}
#container{
	position: relative;
}
@keyframes showButton{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
/*mainContent*/
#slider{
	position: relative;
	height: 30vh;
	display: flex;
	align-items: center;
	overflow: hidden;
}
@keyframes changeOpacity1{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes changeOpacity2{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
#photo1{
	animation-name: changeOpacity1;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	z-index: 2;
	position: absolute;
	width: 100%;
	background-image: url('../img/photo1.jpg');
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

#photo2{
	animation-name: changeOpacity2;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	z-index: 1;
	width: 100%;
	position: absolute;
	background-image: url('../img/photo2.jpeg');
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

#sliderLogo{
	position: relative;
	z-index: 3;
	border: 10px rgb(170, 121, 31) solid;
	border-radius: 100%;
	width: 170px;
	margin-left: 5vw;
	transition: transform .2s;
}
#sliderLogo:hover, #sliderLogo:focus{
	transform: scale(0.9);
}
/*menu*/
#menu{
	position: relative;
	display: flex;
	align-items: center;
	background-color: #ecad4d;
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
	flex-direction: column;
	justify-content: flex-end;
	transition: .2s;
}
#menu.menuFixed{
	position: fixed;
	width: 100%;
	top: 0;
	box-shadow: none;
	background-color: #282828;
	z-index: 150;
}
#menuList{
	flex-wrap: wrap;
	list-style-type: none;
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px;
}

#menuList> li{
	transition: .2s;
	border-radius: 5px;
}
#menuList> li:hover, li:focus{
	background-color: rgba(0,0,0,0.1);
	cursor: pointer;
}

#menuList> li > a{
	display: block;
	position: relative;
	padding: 10px 15px;
	color: white;
	font-size: 24px;
	text-decoration: none;
	font-family: Roboto;
	font-weight: bold;
}

/*hamburger*/
#hamburger{
	display: none;
}
.ham-el{
	transition: .2s;
	width: 35px;
	height: 5px;
	margin-bottom: 5px;
	background-color: white;
	border-radius: 10px;
}

/*content*/
#content{
	text-align: center;
	margin-top: 20px;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ecad4d;
	border-radius: 5px;
	padding: 50px;
}

.contentText{
	font-size: 40px;
	color: white;
	font-family: Roboto;
	font-weight: bold;
}

#piekarniaContent{
	margin: 50px auto;
	border: 3px solid white;
	border-radius: 5px;
	width: 500px;
	height: auto;
}
@media screen and (max-width: 1260px){
	#content{
		max-width: 100%;
	}
}

/*footer*/
#footer{
	background-color: rgba(0,0,0,0.9);
	width: 100%;
	margin-top: 50px;
}

@media screen and (max-width: 800px){
	#socialMedia{
		max-width: 100%;
	}
}

#socialMedia{
	flex-wrap: wrap;
	list-style-type: none;
	display: flex;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
#socialMedia > li{
	flex: 1;
	display: block;
	position: relative;
	text-align: center;
	transition: .2s;
}

#socialMedia > li > a {
	display: block;
	position: relative;
	color: white;
	text-decoration: none;
	font-size: 2.5em;
	padding: 30px;
}
#fb:hover{
	background-color: #4267b2;
}
.fbHover{
	background-color: #4267b2;
}
#insta:hover{
	background-color: #8e389d;
}
.inHover{
	background-color: #8e389d;
}
#yt:hover{
	background-color: #ff0000;
}
.ytHover{
	background-color: #ff0000;
}

#footerText{
	background: rgb(0,0,0);
	color: white;
	text-align: center;
	font-family: Roboto;
	font-size: 18px;
	padding: 10px;
}

/*mobile*/
@media screen and (max-width: 768px){
	#logoImage{
		width: 250px;
	}
	#sliderLogo{
		width: 150px;
	}
	#piekarniaContent{
		max-width: 100%;
	}
	.contentText{
		font-size: 28px;
	}
	#hamburger{
		display: block;
		padding: 17px;
		cursor: pointer;
		z-index: 6;
	}

	#line1.change1{
		transform:  translateY(10px) rotate(45deg);
	}
	#line2.change2{
		opacity: 0;
	}
	#line3.change3{
		transform: translateY(-10px) rotate(-45deg);
	}
	#menuList{
		position: absolute;
		top: 63px;
		height: 0;
		transition: .5s;
		display: flex;
		flex-direction: column;
		list-style-type: none;
		justify-content: space-evenly;
		width: 100%;
		padding: 10px;
	}
	#menuList > li {
		display: none;
		position: relative;
		padding: 10px;
		width: 100%;
		opacity: 0;
		transition: .2s;
	}
	#menuList > li > a{
		display: none;
		opacity: 0;
		transition: .2s;
		display: block;
		width: auto;
		position: relative;
		color: white;
		text-decoration: none;
		font-family: Roboto;
		font-size: 20px;
	}
	#menuList.is-active{
		height: 45vh;
		opacity: 1;
		display: flex;
		flex-direction: column;
		list-style-type: none;
		justify-content: space-evenly;
		width: 100%;
		background-color: #191919;
		padding: 10px;
	}
	#menuList.is-active > li {
		opacity: 1;
		display: block;
		width: auto;
		position: relative;
		padding: 10px;
		width: 100%;
	}
	#menuList.is-active > li > a{
		display: block;
		opacity: 1;
		width: auto;
		position: relative;
		color: white;
		text-decoration: none;
		font-family: Roboto;
		font-size: 20px;
	}
	#menuList.is-active > li:hover, li:focus{
		background-color: rgba(0,0,0,0.5);
	}
	#socialMedia > li{
		transition: 0;
	}
	#fb:hover{
		background-color: none;
	}
	#insta:hover{
		background-color: none;
	}
	#yt:hover{
		background-color: none;
	}
}








