@font-face{
	font-family: Roboto;
	src: url('../fonts/roboto/Roboto-Thin.ttf');
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#coverImage{
	background-image: url('../img/piekarnia.jpg');
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#blackCurtain{
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#logoImage{
	border: 10px rgb(170, 121, 31) solid;
	border-radius: 100%;
}

#moveToPage{
	margin-top: 10px;
	background-color: rgba(0,0,0, 0.8);
	color: white;
	padding: 25px;
	border-radius: 15px;
	font-size: 1.5em;
	font-family: Roboto;
	cursor: pointer;
	transition: .2s;
}

#moveToPage:hover{
	background-color: rgba(255,255,255, 0.8);
	color: black;
}
