@font-face{
	font-family: Roboto;
	src: url('../fonts/roboto/Roboto-Thin.ttf');
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}
#container{
	display: none;
}
@keyframes showContent{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.showContainer{
	animation-name: showContent;
	animation-duration: .5s;
	animation-fill-mode: forwards;
}
/*firstPage*/
#coverImage{
	position: absolute;
	z-index: 4;
	width: 100%;
	top: 0;
	left: 0;
	background-image: url('../img/piekarnia.jpg');
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


#blackCurtain{
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#logoImage{
	border: 10px rgb(170, 121, 31) solid;
	border-radius: 100%;
}

#moveToPage{
	margin-top: 10px;
	background-color: rgba(0,0,0, 0.8);
	color: white;
	padding: 25px;
	border-radius: 15px;
	font-size: 1.5em;
	font-family: Roboto;
	cursor: pointer;
	transition: .2s;
	
}

#moveToPage:hover{
	background-color: rgba(255,255,255, 0.8);
	color: black;
}

@keyframes movePage{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

.move{
	animation-name: movePage;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

/*mainContent*/

#slider{
	position: relative;
	height: 30vh;
	display: flex;
	align-items: center;
	overflow: hidden;
}

@keyframes changeOpacity1{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes changeOpacity2{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
#photo1{
	animation-name: changeOpacity1;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	z-index: 2;
	position: absolute;
	width: 100%;
	background-image: url('../img/photo1.jpg');
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

#photo2{
	animation-name: changeOpacity2;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	z-index: 1;
	width: 100%;
	position: absolute;
	background-image: url('../img/photo2.jpeg');
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}


#sliderLogo{
	z-index: 3;
	border: 10px rgb(170, 121, 31) solid;
	border-radius: 100%;
	width: 170px;
	margin-left: 5vw;
}

/*menu*/

#menu > ul{
	flex-wrap: wrap;
	list-style-type: none;
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
	background-color: #ecad4d;
	padding: 10px;
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
}

#menu > ul > li{
	transition: .2s;
	border-radius: 5px;
}
#menu > ul > li:hover{
	background-color: rgba(0,0,0,0.1);
	cursor: pointer;
}

#menu > ul > li > a{
	display: block;
	position: relative;
	padding: 10px 15px;
	color: white;
	font-size: 24px;
	text-decoration: none;
	font-family: Roboto;
	font-weight: bold;
}

/*content*/
#content{
	margin-top: 20px;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ecad4d;
	border-radius: 5px;
	padding: 30px;
}
@media screen and (max-width: 1260px){
	#content{
		max-width: 100%;
	}
}

/*footer*/
#footer{
	background-color: rgba(0,0,0,0.9);
	width: 100%;
	bottom: 0;
	margin-top: 50px;
}

@media screen and (max-width: 800px){
	#socialMedia{
		max-width: 100%;
	}
}

#socialMedia{
	flex-wrap: wrap;
	list-style-type: none;
	display: flex;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
#socialMedia > li{
	flex: 1;
	display: block;
	position: relative;
	text-align: center;
	transition: .2s;
}

#socialMedia > li > a {
	display: block;
	position: relative;
	color: white;
	text-decoration: none;
	font-size: 2.5em;
	padding: 30px;
}
#fb:hover{
	background-color: #4267b2;
}
#in:hover{
	background-color: #8e389d;
}
#yt:hover{
	background-color: #ff0000;
}

#footerText{
	background: rgb(0,0,0);
	color: white;
	text-align: center;
	font-family: Roboto;
	font-size: 18px;
	padding: 10px;
}








